/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIÁVEIS */
:root {
    --cor-primaria: #e50914;
    --cor-fundo: #111;
    --cor-cinza: #1c1c1c;
    --cor-texto: #fff;
    --cor-texto-secundario: #b3b3b3;
}

/* GERAL */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* HEADER */
header {
    background-color: black;
    padding: 20px 0;
    border-bottom: 1px solid #222;
}

.logo {
    color: var(--cor-primaria);
    font-size: 3rem;
    font-weight: bold;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    gap: 20px;
}

.menu li a {
    text-decoration: none;
    color: var(--cor-texto);
    font-weight: bold;
    transition: color 0.3s;
}

.menu li a:hover {
    color: var(--cor-primaria);
}

/* SEÇÕES */
.secao {
    padding: 60px 0;
    background-color: var(--cor-cinza);
}

.secao-cinza {
    background-color: black;
}

.secao h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

/* DESTAQUE */
.destaque {
    background: linear-gradient(to right, #000, #111);
}

.destaque-conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.destaque-texto {
    max-width: 500px;
}

.destaque-texto h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: white;
}

.destaque-texto p {
    color: var(--cor-texto-secundario);
    margin-bottom: 20px;
}

/* FILTROS */
.filtros {
    display: flex;
    gap: 10px;
}

.filtro {
    background-color: transparent;
    border: 1px solid var(--cor-texto);
    color: var(--cor-texto);
    padding: 8px 15px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 20px;
}

.filtro:hover {
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}

/* GRID DE SÉRIES */
.grid-series {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    margin-top: 30px;
    padding: 20px 0;
    animation-direction: reverse;
}

.grid-series :hover {
    animation-play-state: paused;
}

.carrossel-series {
    overflow: hidden;
}

.card-serie {
    background-color: #000;
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}

.card-serie:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}

.card-serie img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card-serie h3 {
    margin-bottom: 10px;
}

.genero {
    color: var(--cor-primaria);
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.descricao {
    font-size: 0.9rem;
    color: var(--cor-texto-secundario);
}

/* CONTATO */
.lista-contato {
    list-style: none;
    margin-top: 15px;
}

.lista-contato li {
    margin-bottom: 8px;
}

/* FOOTER */
footer {
    background-color: #000;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #222;
}

footer p {
    color: var(--cor-texto-secundario);
    font-size: 0.9rem;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .destaque-conteudo {
        flex-direction: column;
        text-align: center;
    }

    .menu {
        gap: 10px;
    }
}

@keyframes slide-series {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
    

}

.searchbar input {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 20px;
    width: 400px;

}

.secao.destaque {
    position: relative;
    background: url("https://acf.geeknetic.es/imagenes/auto/2023/5/2/h3o-ahorra-dinero-planificando-ver-tus-series-favoritas.jpg")
        center / cover no-repeat;
    min-height: 500px;
    display: flex;
    align-items: center;
}

.secao.destaque::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1;
}

.destaque-conteudo {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 40px;
    align-items: center;
}

.destaque-texto {
    color: #fff;
    max-width: 600px;
}

.destaque-texto h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.destaque-texto p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.destaque-imagem {
    display: none;
}
